<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @list.tittle %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @list.completed %>
</p>

<p>
  <strong>User:</strong>
  <%= @list.user %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
