<p id="notice"><%= notice %></p>

<h1><%= @list.tittle %></h1>

<table>
  <thead>
    <tr>
      <th>Tittle</th>
      <th>Completed</th>
      <th>Description</th>
      <th>List</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.tittle %></td>
        <td><%= task.completed %></td>
        <td><%= task.description %></td>
        <td><%= task.list %></td>
        <td><%= link_to 'Show', list_task_path([@list.id], task) %></td>
        <td><%= link_to 'Edit', edit_list_task_path([@list.id],task) %></td>
        <td><%= link_to 'Destroy', list_task_path([@list.id],task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_list_task_path %>
